* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(33, 43, 54);
   box-sizing: border-box;
}
h1 {
    padding-right: 5px;
}
body {
    background-color: #F4F6F8;
}

#signupform {
    margin: 0px auto;
    max-width: 465px;
    padding: 0 30px;
}
#logo {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;
}
h1 {
font-size: 28px;
line-height: 42px;
font-weight: 700;
}
label {
    font-size: 14px;
    font-weight: 400;
    padding-left: 3px;
}
.inputs {
    margin: 5px 2px 5px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #c4cdd5;
    padding-left: 10px;
}
select {
    margin: 5px 2px 10px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #c4cdd5;
}
#submit {
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 60px;
    background-color:#F5A623;
    color:rgb(255, 255, 255);
    border: none;
    outline: none;
}
#submit:hover {
cursor: pointer;
}
::placeholder {
    color:rgb(33, 43, 54) ;
    opacity: 0.6;
}
.terms-div {
   margin-right: 5px;
   padding-left: 0;
   margin-left: 0;
   font-size: 14px;
   /* color:rgb(33, 43, 54) */
}
a, .login {
   color: rgb(31, 108, 196);
   text-decoration: none;
   font-size: 14px;
}
p {
    font-size: 14px;
    color:rgb(33, 43, 54)
}
.password {
    position: relative;;
}
.secret {
    position: absolute;
    right: 15px;
  top: 32%;
  cursor: pointer;
}
.password-shown {
    display: none;
    position: absolute;
    right: 15px;
  top: 32%;
  cursor: pointer;
}
.password-strenght-meter {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}
.meter1 {
    border: 1px solid#ddd;
    background-color: #ddd;
    border-radius: 3px;
    width: 72px;
    height: 4px;
    margin-right: 4px;
}
.meter2 {
    border: 1px solid #ddd;
    background-color: #ddd;
    border-radius: 3px;
    width: 72px;
    height: 4px;
    margin-right: 4px;
}
.meter3 {
    border: 1px solid#ddd;
    background-color: #ddd;
    border-radius: 3px;
    width: 100px;
    height: 4px;
    margin-right: 4px;
}
.meter4 {
    border: 1px solid#ddd;
    background-color: #ddd;
    border-radius: 3px;
    width: 72px;
    height: 4px;
    margin-right: 4px;
}
.meter5 {
    border: 1px solid#ddd;
    background-color: #ddd;
    border-radius: 3px;
    width: 72px;
    height: 4px;
}
.weak {
    background-color: #ff4500;
}
.okay {
    background-color: red;
}
.strong {
    background-color: orange;
}
.great {
    background-color: #9acd32;
}
.password-info {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11px;
}
.password-info {
    display: inline;
    margin-right: 5px;
}
.p-icon {
    color:#F5A623;
    font-weight: bold;
}
.form-credentials p {
    margin-top: 0;
    font-size: 11px;
}